<div class="profile-tabs">
  {#each tabs as item}
    <Tab label={item.text} active={item.active} on:tabSelect />
  {/each}
</div>

<script>
  import Tab from './Tab.svelte';

  export let tabs;
</script>
