<button
  class:active
  type="menu"
  title={`Switch to tab ${label}`}
  aria-label={`Switch to tab ${label}`}
  on:click={handleClick}
  >
  {label}
</button>

<style>
button {
  background: #0b88b7;
  padding: 2px;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
  width: 100px;
  border: 1px solid #0b88b799;
  background-clip: content-box;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

button.active,
button:hover {
  background: white;
  color: black;
  background-clip: border-box;
  border: none;
}
</style>

<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();
  
  export let label;
  export let active = false;

  function handleClick() {
    dispatch('tabSelect', {
      text: label,
    });
  }
</script>
