<script>
  import { minLevel, maxLevel } from '/store/dataConstants';
  import {
    continueId, playerId, nickname,
    level, mpLevel, mpLikes, friends,
    crystals, lastAction, lastTimezone
  } from '/store/playdata';
  import TextInput from './TextInput.svelte';
  import NumberInput from './NumberInput.svelte';
  import t from '/lib/translate';

  const continueIdInput = {
    id: 'continueId',
    name: 'continueId',
    label: t('Continuation ID'),
  };

  const playerIdInput = {
    id: 'playerId',
    name: 'playerId',
    label: t('Captain ID'),
  };

  const nicknameInput = {
    id: 'nickname',
    name: 'nickname',
    label: t('Nickname'),
  };

  const friendsInput = {
    id: 'friends',
    name: 'friends',
    label: t('Friends'),
  }

  const levelInput = {
    id: 'level',
    name: 'level',
    label: t('Level'),
    optionals: {
      min: $minLevel,
      max: $maxLevel,
    }
  };

  const mpLevelInput = {
    id: 'mpLevel',
    name: 'mpLevel',
    label: t('Multiplayer Level'),
    optionals: {
      min: 0,
    }
  };

  const mpLikesInput = {
    id: 'mpLikes',
    name: 'mpLikes',
    label: t('Multiplayer Likes'),
    optionals: {
      min: 0,
    }
  };

  const crystalsInput = {
    id: 'crystals',
    name: 'crystals',
    label: t('On-hand Crystals'),
    optionals: {
      min: 0,
    }
  };

  const lastActionInput = {
    id: 'lastAction',
    name: 'lastAction',
    label: t('Last in-game action'),
  };

  const lastTimezoneInput = {
    id: 'lastTimezone',
    name: 'lastTimezone',
    label: t('Last login timezone'),
  };

  let rawFriends = '';
  $: {
    const split = rawFriends.split(',');
    if (split[0] !== '') {
      $friends = split.map(s => s.trim());
    }
  }
</script>

<style>
form {
  background: rgba(20, 41, 75, 0.75);
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 5px cyan;
}
</style>

<form action="">
  <TextInput {...continueIdInput} bind:value={$continueId} />
  <TextInput {...playerIdInput} bind:value={$playerId} />
  <TextInput {...nicknameInput} bind:value={$nickname} />
  <NumberInput {...levelInput} bind:value={$level} />
  <NumberInput {...mpLevelInput} bind:value={$mpLevel} />
  <NumberInput {...mpLikesInput} bind:value={$mpLikes} />
  <NumberInput {...crystalsInput} bind:value={$crystals} />
  <TextInput {...friendsInput} bind:value={rawFriends} />
  <TextInput {...lastActionInput} bind:value={$lastAction} />
  <TextInput {...lastTimezoneInput} bind:value={$lastTimezone} />
</form>
