{#if editMode}
  <input
    {id}
    type="text"
    {name}
    {...optionals}
    on:keyup={updateValue}
    bind:value />
  <button
    type="button"
    class="green-check"
    on:click|once={confirmValue}
    >
    <Icon data={faCheck} />
  </button>
{:else}
  <button
    type="button"
    title={label}
    aria-label={label}
    on:click|once={() => {editMode = true}}
    >
    {@html value === '' ? `<i>Click to edit<i>` : value}
  </button>
{/if}

<style>
input {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 95%;
  border: none;
  border-radius: 5px;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

button.green-check {
  color: #94a877;
}
</style>

<script>
  import Icon from 'svelte-awesome';
  import { faCheck } from '@fortawesome/free-solid-svg-icons';

  export let id = '';
  export let label = '';
  export let name = '';
  export let value = '';
  export let optionals = {};

  let editMode = false;

  function updateValue(e) {
    if (e.keyCode === 13) {
      confirmValue(e);
    }
  }

  function confirmValue() {
    if (value !== '') {
      editMode = false;
    }
  }
</script>
