*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
  background: url('./bg.jpg');
  background-size: cover;
	color: #fff;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.formgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}

.formgroup > * {
  margin: auto 10px;
}

#profile-card h4 {
  background: rgba(28, 192, 254, 0.3);
  color: #1cc0fe;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
}
