<main>
	<h1>{title.toUpperCase()}</h1>

  <div class="row">
    <ProfileCard />
  </div>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 700;
    margin: 0 auto;
	}

  .row {
    display: initial;
  }

	@media (min-width: 640px) {
		main {
			max-width: none;
		}

    .row {
      display: flex;
      justify-content: space-around;
    }
	}
</style>

<script>
  import ProfileCard from '/components/ProfileCard/App.svelte';
  import Form from '/components/Form/App.svelte';
  import t from '/lib/translate';

  let title = t('Honkai Impact');
</script>
