<div id="profile-card">
  <div class="card-header">
    <div>Icon</div>
    <div class="captain-info">
      <h3><TextInput {...nicknameInput} bind:value={$nickname} /></h3>
      <span id="profile-level">
        Lv. <NumberInput {...levelInput} bind:value={$level} />
      </span>
      <span id="profile-playerId">
        ID: <TextInput {...playerIdInput} bind:value={$playerId} />
      </span>
    </div>
  </div>
  <hr />
  <div class="card-body">
    {#if selectedTab === 0}
      <Profile />
    {:else if selectedTab === 1}
      <Weapons />
    {:else if selectedTab === 2}

    {:else}
      <Friends />
    {/if}
  </div>
  <div class="card-footer">
    <hr />
    <Tabs {tabs} on:tabSelect={handleTabSelect} />
  </div>
</div>

<style>
#profile-card {
  background: rgba(20, 41, 75, 0.75);
  position: relative;
  min-width: 450px;
  max-width: 550px;
  width: 50%;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 5px cyan;
}

.captain-info h3,
#profile-level,
#profile-playerId {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: bold;
  margin-right: 10px;
}

#profile-playerId {
  color: #1cc0fe;
}

.card-header {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  padding-bottom: 20px;
}

.card-header > * {
  margin: auto 10px;
}

.card-footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 255, 255, 0), cyan, rgba(0, 255, 255, 0));
}
</style>

<script>
  import { playerId, nickname, level } from '/store/playdata';
  import t from '/lib/translate';

  import TextInput from '/components/Form/TextInput.svelte';
  import NumberInput from '/components/Form/NumberInput.svelte';

  import Tabs from './Tabs/App.svelte';
  import Profile from './Profile.svelte';
  import Weapons from './Weapons/App.svelte';
  import Friends from './Friends.svelte';

  const nicknameInput = {
    id: 'nickname',
    label: 'Nickname',
    name: 'nickname',
  };
  const levelInput = {
    id: 'level',
    label: 'Level',
    name: 'level',
  };
  const playerIdInput = {
    id: 'playerId',
    label: 'Player ID',
    name: 'playerId',
  };
  const tabs = [
    {text: 'Profile', active: true},
    {text: 'Weapons', active: false},
    {text: 'Stigmatas', active: false},
    {text: 'Friends', active: false},
  ];
  let selectedTab = 0;

  function handleTabSelect(event) {
    selectedTab = tabs.findIndex(item => item.text === event.detail.text);
    tabs.map(item => item.active = false);
    tabs[selectedTab].active = true;
  }
</script>
