<div class="profile-friends">
  <h3>Friends</h3>
  <div class="friends-list">
    {#each $friends as friend}
    <div class="friend">
      <span>{@html friend.replace(/\s/g, '&nbsp;')}</span>
      <button
        type="button"
        class="remove-friend"
        data-friend={friend}
        on:click|once={removeFriend}
        >
        <Icon data={faTimes} />
      </button>
    </div>
    {/each}

  </div>
  <input type="text" placeholder="Add new friend (enter to add)" on:keyup={handleKeyup} />
</div>

<style>
.profile-friends {
  margin-top: 15px;
}

.friends-list {
  padding: 0;
  margin-bottom: 10px;
  height: 150px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.friends-list div.friend {
  background: #0b88b7;
  padding: 2px 20px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #0b88b799;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.friend button.remove-friend {
  background: transparent;
  border: none;
  color: inherit;
  margin: 0 5px;
  padding: 5px 0 0 0;
}

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  border-radius: 5px;
}
</style>

<script>
  import Icon from 'svelte-awesome';
  import { faTimes } from '@fortawesome/free-solid-svg-icons';
  import { friends } from '/store/playdata';

  function removeFriend(e) {
    const chosenFriend = e.currentTarget.dataset.friend;
    const indexToRemove = $friends.findIndex(friend => friend === chosenFriend);
    console.log(indexToRemove);
    $friends.splice(indexToRemove, 1);
    $friends = $friends;
  }

  function handleKeyup(e) {
    if (e.keyCode === 13) {
      const curTarget = e.currentTarget;
      $friends = [...$friends, curTarget.value];
      curTarget.value = '';
    }
  }
</script>
