<div class="profile-info">
  <div class="row">
    <div id="profile-mpLevel">
      <Icon data={faUsers} /> <span class="highlight">MP</span> Lv. 
      <NumberInput {...mpLevelInput} bind:value={$mpLevel} />
    </div>
    <div id="profile-mpLikes">
      <Icon data={faThumbsUp} /> 
      <NumberInput {...mpLikesInput} bind:value={$mpLikes} />
    </div>
    <div id="profile-crystals">
      <Icon data={faGem} /> 
      <NumberInput {...crystalsInput} bind:value={$crystals} />
    </div>
  </div>
  <div id="profile-lastAction">
    <h4>{t('Last in-game action')}</h4>
    <p>
      <TextInput {...lastActionInput} bind:value={$lastAction} />
    </p>
  </div>
  <div id="profile-lastTimezone">
    <h4>{t('Last login timezone')}</h4>
    <p>
      <TextInput {...lastTimezoneInput} bind:value={$lastTimezone} />
    </p>
  </div>
</div>

<style>
.profile-info > div {
  margin: 20px auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

#profile-mpLevel,
#profile-mpLikes {
  font-style: italic;
}

#profile-mpLevel .highlight {
  color: #94a877;
}

#profile-mpLikes {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#profile-lastAction p,
#profile-lastTimezone p {
  text-align: left;
  padding: 10px 20px;
}

button.editButton,
button.green-check {
  background: transparent;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input.numericInput {
  height: 32px;
  width: 75px;
}

button.green-check {
  color: #94a877;
}
</style>

<script>
  import Icon from 'svelte-awesome';
  import { faGem, faThumbsUp, faUsers, faCheck } from '@fortawesome/free-solid-svg-icons';
  import t from '/lib/translate';

  import { mpLevel, mpLikes, crystals, lastAction, lastTimezone } from '/store/playdata';
  import TextInput from '/components/Form/TextInput.svelte';
  import NumberInput from '/components/Form/NumberInput.svelte';

  const mpLevelInput = {
    id: 'mpLevel',
    label: 'Edit MP Level',
    name: 'mpLevel',
    optionals: {
      min: 0,
    }
  };

  const mpLikesInput = {
    id: 'mpLikes',
    label: 'Edit MP Likes',
    name: 'mpLikes',
    optionals: {
      min: 0,
    }
  };

  const crystalsInput = {
    id: 'crystals',
    label: 'Edit On-hand crystals',
    name: 'crystals',
    optionals: {
      min: 0,
    }
  };

  const lastActionInput = {
    id: 'lastAction',
    label: 'Edit last in-game action',
    name: 'lastAction',
  };

  const lastTimezoneInput = {
    id: 'lastTimezone',
    label: 'Edit last login timezone',
    name: 'lastTimezone',
  };
</script>
